.homepage {
font-family: cursive;
font-size: 100px;
font-style: italic;
margin-left: 250px;
color: white;
}
.tab{
margin-left: 330px;
font-family: fantasy;
font-style: italic;

}
.desc{
  margin-left: 220px;
  font-family: fantasy;
  font-style: italic;
}


}

.header{
background-color: #84875f;
width: 100px;
position: relative;
}

.title{
width: 200px;
margin-left: 200px;

}

.recipes {
  font-family: fantasy;
  font-size: 60px;
  font-style: italic;
  margin-left: 300px
}
.main {
margin-left: 350px;

}


.second {
margin-left: 100px;
margin-top: 100px;
margin-right: 100px;


}

.menu{
background-color: #84875f;
width: 1000px;
margin-left: 100px;
}



body {

background-color: #c2bdb0;

}
