.homepage {
font-family: cursive;
font-size: 100px;
font-style: italic;
margin-left: 250px;
color: white;
}
.tab{
margin-left: 330px;
font-family: fantasy;
font-style: italic;

}
.desc{
  margin-left: 220px;
  font-family: fantasy;
  font-style: italic;
}


}

.header{
background-color: #84875f;
width: 100px;
position: relative;
}

.title{
width: 200px;
margin-left: 200px;

}

.recipes {
  font-family: fantasy;
  font-size: 60px;
  font-style: italic;
  margin-left: 300px
}
.main {
margin-left: 350px;

}


.second {
margin-left: 100px;
margin-right: 100px;
max-width: 100em;
width: 62.5em;


}
.head{
margin-left: 14em;

}
.head1{
margin-left: 17em;

}

.head2{
margin-left: 15em;

}

.head3{
margin-left: 14.5em;

}
.menu{
background-color: #84875f;
width: 1000px;
margin-left: 100px;
}

.braise {
margin-left:  20em;
border-color: black;
border-width: medium;
border-style: solid;
max-width: 40em;
max-height: 30em;
}

.braise1 {
margin-left:  23em;
border-color: black;
border-width: medium;
border-style: solid;
max-width: 40em;
max-height: 30em;
}
.braise2 {
margin-left:  28em;
border-color: black;
border-width: medium;
border-style: solid;
max-width: 40em;
max-height: 30em;
}

.braise3 {
margin-left:  26.5em;
border-color: black;
border-width: medium;
border-style: solid;
max-width: 40em;
max-height: 30em;
}

.bring {
margin-left: 5em;

}
.bring1 {
margin-left: 27em;
margin-bottom: 1em;

}

.bralist {

font-style: italic;
font-family: serif;
font-size: 1.5em;
column-count: 2;
column-width: 5em;
margin-top: 0px;
border-style: groove;
border-width: thick;
border-color: green;

}


body {

background-color: #c2bdb0;

}
